﻿@section breadCrumbs{
    <span>Dashboard</span>
}
@section page{
    <span>Dashboard</span>
}

<div class="card m-b-30">
    <div class="card-body">
        <div class="button-items mt-2 mb-4">
            <a style="color:white" class="btn btn-info">Dashboard</a>
        </div>
    </div>
</div>