﻿
<!DOCTYPE html>
<html>
<head>
    <partial name="_Head" />
</head>


<body class="fixed-left">

    <!-- Loader -->
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <partial name="_Sidebar" />
        <!-- Left Sidebar End -->
        <!-- Start right Content here -->

        <div class="content-page">
            <!-- Start content -->
            <div  class="content">

                <!-- Top Bar Start -->
                <partial name="_Topbar" />
                <!-- Top Bar End -->

                <div class="page-content-wrapper ">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <div class="btn-group float-right">
                                        <ol class="breadcrumb hide-phone p-0 m-0">
                                            <li class="breadcrumb-item"><a href="#">InvenTory</a></li>
                                            <li class="breadcrumb-item active">@RenderSection("breadCrumbs", required: true)</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title"> @RenderSection("page", required: true)</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title end breadcrumb -->
                        @RenderBody()
                    </div><!-- container -->


                </div> <!-- Page content Wrapper -->

            </div> <!-- content -->

            <footer class="footer">
                © 2024 InvenTory by Indocyber BC40
            </footer>

        </div>
        <!-- End Right content here -->

    </div>
    <!-- END wrapper -->

    <partial name="_Foot" />

</body>
</html>