﻿<div class="left side-menu">
    <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
        <i class="ion-close"></i>
    </button>

    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
             <a href="index.html" class="logo"><img src="assets/images/logo.png" height="40" alt="logo"></a> 
        </div>
    </div>

    <div class="sidebar-inner slimscrollleft">

        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">Dashboard</li>
                <li>
                    <a asp-action="Index" asp-controller="Home" class="waves-effect">
                        <i class="mdi mdi-airplay"></i>
                        <span> Dashboard Main</span>
                    </a>
                </li>
                <li class="menu-title">Sales</li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Customer Type</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Customer</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Sales Type</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Sales Order</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Shipment</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Invoice</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Payment Receive</span>
                    </a>
                </li>
                
                <li class="menu-title">Purchase</li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Vendor Type</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Vendor</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Purchase Type</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Good Received Note</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Bill</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Payment Voucher</span>
                    </a>
                </li>
                <li class="menu-title">Inventory</li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Product</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Product Type</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Unit Of Measure</span>
                    </a>
                </li>
                <li class="menu-title">Config</li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Currency</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Branch</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Warehouse</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Cash Bank</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Payment Type</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Shipment Type</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Invoice Type</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Bill Type</span>
                    </a>
                </li>
                <li class="menu-title">User & Role</li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>User</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Change Password</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Role</span>
                    </a>
                </li>
                <li>
                    <a asp-action="#" asp-controller="#" class="waves-effect">
                        <span>Change Role</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div> <!-- end sidebarinner -->
</div>